<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">

  <title>SG24CARE</title>
</head>

<body>

  {{#each success_messages}}
  <div class="alert alert-success">
    {{this}}
  </div>
  {{/each}}

  {{#each error_messages}}
  <div class="alert alert-danger">
    {{this}}
  </div>
  {{/each}}

  <div class="container">
    <h1 style="font-size: 50px; color: #089c03; text-shadow: 2px 4px 6px rgba(248, 147, 147, 0.747);" class="left">Sg24care Laptop Sales</h1>
    <br>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-warning">

  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/products">All Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="products">Laptops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="products">Special Deals</a>
         <li class="nav-item">
        <a class="nav-link" href="products">Offer</a>
         <li class="nav-item">
        <a class="nav-link" href="products">contact us</a>
      </li>
    </ul>
    <div>
       {{#if user}}
        Hello, {{user.username}}
        <a href="/cart" class="btn btn-success btn-sm">Cart</a>
        <a href="/users/logout" class="btn btn-danger btn-sm">Logout</a>
        {{else}}
        <a href="/users/login" class="btn btn-success btn-sm">Log In</a>
       {{/if}}
    </div>
  </div>

</nav>

    {{#block "content"}}{{/block}}
  </div>


  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    
    {{#block "js"}}{{/block}}
</body>

</html>