{{#extends 'base'}}

{{#block "content"}}


  <br>
  
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="image-container" style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <img src="https://www.livemint.com/lm-img/img/2024/09/28/600x338/amazon_sale_1727515128507_1727515128973.jpg" 
             alt="Amazon Sale" 
             class="d-block w-100" 
             style="max-width: 100%; max-height: 500px; object-fit: contain; border: 2px solid black;">
      </div>
    </div>
    <div class="carousel-item">
      <div class="image-container" style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <img src="https://m.economictimes.com/thumb/msid-109843761,width-1200,height-1200,resizemode-4,imgsize-83322/amazon-great-summer-sale.jpg" 
             alt="Chicago" 
             class="d-block w-100" 
             style="max-width: 100%; max-height: 500px; object-fit: contain; border: 2px solid black;">
      </div>
    </div>
    <div class="carousel-item">
      <div class="image-container" style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <img src="https://m.economictimes.com/thumb/height-450,width-600,imgsize-188330,msid-104311085/amazon-great-indian-festival-2023.jpg" 
             alt="New York" 
             class="d-block w-100" 
             style="max-width: 100%; max-height: 500px; object-fit: contain; border: 2px solid black;">
      </div>
    </div>
  </div>
  
  <!-- Optional Previous and Next Buttons (if needed) -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

 <span class="text" style="color: orangered;"><b>© 2024 Sing24care laptop sales. All rights reserved.</b></span>
 
   </footer> 
    
{{/block}}

{{/extends}}