{{#extends "base"}}

{{#block "content"}}
<h1>Register</h1>
<form method="POST">
    {{{userForm}}}
    <input type="submit" class="btn btn-primary mt-3" value="Register"/>

     {{!-- CSRF token --}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>

</form>
{{/block}}

{{/extends}}